
@media(max-width:1150px){

    .imagenNosotros{
        width: 400px;    
    }
    
    .textoNosotros{
        width: 400px;
    }
    
}

@media(max-width:768px){
    .btnmenu{
        display: block;
    }
    nav{
        position: absolute;
        width: 50%;
        height: 100%;
        background-color: var(--color-blanco);
        top: 71px;
        left: -100%;
        transition: all ease 0.5s;
        opacity: 0;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    nav ul{
        flex-direction: column;
    }
    nav ul a{
        border-bottom: 1px solid var(--color-borde);
        }

    nav ul a:hover{
        background-color: var(--color-principal);
        color: var(--color-blanco);
    }
    .flexRds{
        display: block;
    }
    .flexRdsEscritorio{
        display: none;
    }

    .infoBanner a{
        padding: 20px 40px;
    }

    .infoBanner h1{
        font-size: 30px;
    }

    .infoBanner h2{
        font-size: 20px;
    }

    .imagenNosotros{
        width: 100%;    
    }
    
    .textoNosotros{
        width: 100%;
    }
    
}

@media(max-width:400px){
    
}